@font-face {
    font-family: 'Plush-Regular';
    src: url('../Font/Plush-Trial-Regular-BF654c40145b0dd.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Black';
    src: url('../Font/Plush-Trial-Black-BF654c4013ec70c.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Black-Italic';
    src: url('../Font/Plush-Trial-BlackItalic-BF654c4014072a3.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Bold';
    src: url('../Font/Plush-Trial-Bold-BF654c40144cc74.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Bold-Italic';
    src: url('../Font/Plush-Trial-BoldItalic-BF654c40144a11a.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-ExtraBold';
    src: url('../Font/Plush-Trial-ExtraBold-BF654c4014409f5.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-ExtraBold-Italic';
    src: url('../Font/Plush-Trial-ExtraBoldItalic-BF654c4013ace73.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-ExtraLight';
    src: url('../Font/Plush-Trial-ExtraLight-BF654c401453b5b.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-ExtraLight-Italic';
    src: url('../Font/Plush-Trial-ExtraLightItalic-BF654c40142894b.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Regular-Italic';
    src: url('../Font/Plush-Trial-Italic-BF654c40145fe4f.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Light';
    src: url('../Font/Plush-Trial-Light-BF654c401444f88.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Light-Italic';
    src: url('../Font/Plush-Trial-LightItalic-BF654c40142d3df.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Medium';
    src: url('../Font/Plush-Trial-Medium-BF654c401412ccd.otf') format('opentype');
}
@font-face {
    font-family: 'Plush-Medium-Italic';
    src: url('../Font/Plush-Trial-MediumItalic-BF654c40146661a.otf') format('opentype');
}