@import url(../css/font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plush-Regular', sans-serif;
}


body,
html {
    width: 100%;
    height: 100%;
    background-color: #F3EDE1;
    overflow-x: hidden;
    padding: 0.5vw 0.2vw;
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: #F3EDE1;
}

::-webkit-scrollbar-thumb {
    background-color: #333F72;
    border-radius: 6px;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    height: fit-content;
    padding-inline: 4vw;
}

.rowUser {
    width: 100%;
    height: fit-content;
    padding-inline: 2vw;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
}

.logo {
    font-family: 'Plush-Bold', sans-serif;
    font-size: 1.5vw;
}

.menu {
    font-size: 1vw;
    font-family: 'Plush-Medium', sans-serif;
}

.headSec2 {
    display: flex;
    gap: 30px;
}

.headSec3 {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 1vw;
}

hr {
    border: 0.1vw solid #E9DAC6;
}

a {
    color: #333F72;
    text-decoration: none;
}

.menu:hover {
    color: #E56E0C;
}

.homeMenu {
    color: #333F72;
    width: 100%;
    height: fit-content;
    /* background-color: rgb(0, 54, 231); */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4vw;
    margin-bottom: 1vw;
}

.desc {
    font-size: 1vw;
}

.headerText {
    margin-top: 2vw;
    width: 45%;
}

.img {
    margin-top: 3vw;
    height: 25vw;
}

.rowImg {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.img1,
.img2 {
    position: absolute;
    height: 30vw;
    top: 4vw;
}

.img1 {
    right: 0;
}

.img2 {
    left: 0;
}


.text {
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text1 {
    font-size: 5vw;
    color: #E9DAC6;
    margin: 0;
    display: inline-flex;
    align-items: center;
}

.top {
    margin-top: 8vw;
}

.star1 {
    height: 4vw;
}

h2 {
    margin-top: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    font-family: 'Plush-Regular', sans-serif;
    font-size: 2.5vw;
    color: #333F72;
}

.imgSection {
    border: 1px solid #333F72;
    width: 18vw;
    height: 22.8vw;
    border-radius: 3.5vw 0.2vw 3.5vw 0.2vw;
    -webkit-border-radius: 3.5vw 0.2vw 3.5vw 0.2vw;
    -moz-border-radius: 3.5vw 0.2vw 3.5vw 0.2vw;
    -ms-border-radius: 3.5vw 0.2vw 3.5vw 0.2vw;
    -o-border-radius: 3.5vw 0.2vw 3.5vw 0.2vw;
}

/* .img3 {
    height: 15vw;
} */

.img3 {
    height: 10vw;
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 1.5vw 1.5vw;
}

.name {
    font-size: 2vw;
    font-family: 'Plush-Bold', sans-serif;
    color: #333F72;
}

.text0 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}

.count {
    color: #333F72;
    font-size: 1vw;
}

.button {
    font-family: 'Plush-Bold', sans-serif;
    color: #E56E0C;
    font-size: 1vw;
    border: 1px solid #E56E0C;
    background-color: #F3EDE1;
    height: 4vw;
    border-radius: 2vw 0.2vw 2vw 0.2vw;
    -webkit-border-radius: 2vw 0.2vw 2vw 0.2vw;
    -moz-border-radius: 2vw 0.2vw 2vw 0.2vw;
    -ms-border-radius: 2vw 0.2vw 2vw 0.2vw;
    -o-border-radius: 2vw 0.2vw 2vw 0.2vw;
}

button:hover {
    background-color: #E56E0C;
    color: white;
}

.flex {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    margin-bottom: 8vw;
}

.img4 {
    position: relative;
    height: 19vw;
}

.divUser {
    display: flex;
    position: relative;
}

.user2 {
    margin-top: 10vw;
}

.desc1 {
    font-family: 'Plush-regular', sans-serif;
    position: relative;
    z-index: 1;
    bottom: 17vw;
    width: 20vw;
    font-size: 0.9vw;
    color: #333F72;
    left: 8vw;
}

.desc2 {
    font-family: 'Plush-Regular-Italic', sans-serif;
    position: relative;
    z-index: 1;
    bottom: 16.5vw;
    width: 20vw;
    font-size: 1vw;
    color: #333F72;
    left: 8vw;
}

.desc3 {
    font-family: 'Plush-regular', sans-serif;
    position: relative;
    z-index: 1;
    bottom: 16vw;
    width: 20vw;
    font-size: 0.9vw;
    color: #333F72;
    left: 9vw;
}

.desc4 {
    font-family: 'Plush-Regular-Italic', sans-serif;
    position: relative;
    z-index: 1;
    bottom: 15.5vw;
    width: 20vw;
    font-size: 1vw;
    color: #333F72;
    left: 9vw;
}

.desc5 {
    font-family: 'Plush-regular', sans-serif;
    position: relative;
    z-index: 1;
    bottom: 17vw;
    width: 20vw;
    font-size: 0.9vw;
    color: #333F72;
    left: 4vw;
}

.desc6 {
    font-family: 'Plush-Regular-Italic', sans-serif;
    position: relative;
    z-index: 1;
    bottom: 16.5vw;
    width: 20vw;
    font-size: 1vw;
    color: #333F72;
    left: 4vw;
}


/*  */






.footer {
    border-radius: 1vw 1vw 0vw 0vw;
    background-color: #1D2544;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 21vw;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 4vw;
    -webkit-border-radius: 1vw 1vw 0vw 0vw;
    -moz-border-radius: 1vw 1vw 0vw 0vw;
    -ms-border-radius: 1vw 1vw 0vw 0vw;
    -o-border-radius: 1vw 1vw 0vw 0vw;
}

.div-footer {
    display: flex;
    width: 80%;
    justify-content: space-around;
    line-height: 2vw;
    height: fit-content;

}

.div-footersec1 {
    color: white;
    font-family: 'Plush-Light', sans-serif;
    font-size: 1vw;
}

.space {
    margin-left: 0.5vw;
}

.div-descfooter1 {
    align-items: end;
    display: flex;
    font-size: 1vw;
    margin-bottom: 0.3vw;
    color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    text-decoration: none;
}


.logo1 {
    font-family: 'Plush-Bold', sans-serif;
    font-size: 2vw;
    color: white;
}

.liText {
    color: rgb(175, 175, 175);
}

.footer1 {
    width: 100%;
}

.img5 {
    width: 100%;
}